* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid 1px;
}

.navbar_icon img {
    width: 100px;
    padding-left: 40px;
}

ul {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

li {
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}


/* User-profile */
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
            white 0%,
            white 60%,
            #d9516b 60%,
            #d9516b 100%);
    font-family: 'Inter';
}

#student-profile {
    width: 40%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-top: 70px;
}

#student-greeting {
    color: #d9516b;
    padding: 10px;
}

#student-info {
    margin: 20px;
    height: fit-content;
}

#label-mail,
#label-password,
#label-links {
    color: #d9516b;
    border-bottom: black 1px solid;
}

#student-mail,
#student-password,
#student-link1,
#student-link2,
#student-link3 {
    display: block;
    color: black;
    font-family: 'Inter';
    padding: 5px;
    font-size: medium;
    background-color: transparent;
    border: none;
    width: 96.7%;
    text-align: center;
    padding: 10px;
    border: transparent 1px dotted;
}

#student-link1,
#student-link2,
#student-link3 {
    background-color: #d9516b;
    opacity: 80%;
    margin: 10px;
    color: white;
    border-radius: 25px;
    width: 14rem;
    margin: 10px auto;
}

#student-about {
    position: absolute;
    right: 5vw;
    top: 300px;
    background-color: transparent;
    border: none;
    color: white;
    resize: none;
    font-family: 'Inter';
    font-size: medium;
    letter-spacing: 1.5px;
}

#label-about {
    position: absolute;
    right: 30vw;
    top: 240px;
    font-size: xx-large;
    color: white;
}

#edit-info {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    color: #d9516b;
    background-color: transparent;
    font-family: 'Inter';
}

#match-btn {
    position: absolute;
    top: 85vh;
    left: 80vw;
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    background-color: transparent;
    font-family: 'Inter';
}

#match-btn>a {
    text-decoration: none;
    color: white;
}

#logout-btn{
    position: relative;
    left: 25vw;
    bottom: 50px;
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    color: #d9516b;
    background-color: transparent;
    font-family: 'Inter';
}

#student-mail:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}
 
#student-password:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}

#student-link1:enabled, #student-link2:enabled, #student-link3:enabled{
    border: #d9516b 2px dotted;
    background-color: transparent;
    color: black;
}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
}