body {
  margin: 0;
}

/* Navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_icon img {
  width: 100px;
  padding-left: 40px;
}

ul {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

li {
  padding: 20px;
  text-decoration: none;
  list-style-type: none;
}

/* Landingpage main */

main {
  width: 100vw;
  height: 100vh;
}

.landingpage {
  width: 100vw;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpage_title_and_textarea {
  width: 40vw;
  text-align: center;
  color: white;
  position: absolute;
}

.landingpage img {
  width: 100vw;
  height: 78vh;
  filter: brightness(50%);
}

.landingpage button {
  background-color: #D9516B;
  border-radius: 1rem;
  width: 10rem;
  height: 2.5rem;
  border: none;
  color: white;
}


/* Matching website*/

.aside_content_matchingsite {
  background-color: #cc919c;
  width: 40vw;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.matching_site_main {
  max-width: 100vw;
  max-height: 90vh;
  display: flex;
}

.main_informationdiv img {
  width: 50px;
  border-radius: 50%;
}

.main_informationdiv {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.matchboxtwenty {
  background-color: #cc919c;
  width: 35vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.matching_information_div_container_two {
  background-color: #cc919c;
  width: 35vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.matching_information_div_container_three {
  background-color: #cc919c;
  width: 35vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Form website */

.main_form_site {
  max-width: 100vw;
  max-height: 90vh;
  display: flex;
}

.inactive {
  display: none;
}

.div_for_form_information {
  width: 60vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside_matching_information {
  /* background-color: #cc919c;*/
  background: linear-gradient(#CC919C, #BD4C61);
  width: 40vw;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button-46 {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  min-width: 200px;
  font-size: 18px;
  justify-content: center;
  padding: 14px 22px;
  text-decoration: none;
}

/* ADMIN */

#allCompaniesContainer div {
  display: flex;
  flex-direction: row;
}

#allCompaniesContainer div * {
  margin: .6em;
}