:root {
    --text-color: aliceblue;
    --background-color: rgb(34,193,195);
    --accent-color: salmon;
}


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--text-color);


}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo i {

    color: var(--accent-color);
    font-size: 32px;
}

span {
    font-size: 30px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0px;

}

.navbar_menu li {

    padding: 8px 12px;
    color: var(--text-color);
}

.navbar_menu li:hover {

    background-color: var(--accent-color);
    border-radius: 6px;
}

.navbar_icons {
    
    display: flex;

    list-style: none;
    padding-left: 0px;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_togglebutton {

    position: absolute;
    right: 32px;
    font-size: 30px;
    color: var(--accent-color);
    display: none;

}

.modeBtn {

    width: 8rem;
    height: 3rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    border: 1px solid black;
}

.dark-mode {
    background-color: rgb(26, 25, 25);
    color: antiquewhite;
}


@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;

    background-color: lightpink;
    }

    .navbar_menu {

        display: none;

        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {

        display: none;

        justify-content: center;
        width: 100%;
    }


    .navbar_togglebutton {

        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }

span{
    font-size: 25px;
    font-weight: bolder;

}

}