#student-profile {
    display: flex;
}

#right-side {
    background: linear-gradient(#CC919C, #BD4C61);
    width: 40vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#left-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#left-side h1 {
    margin-top: 120px;
    color: #D9516B;

}

#left-side label, #left-side input, #left-side button {
    width: 50%;
}

#left-side label {
    color: #d9516b;
    border-bottom: black 1px solid;
    width: auto;
    margin-top: 10px;
}

#left-side input {
    display: block;
    color: black;
    padding: 5px;
    font-size: medium;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px;
    border: transparent 1px dotted;
}

#left-side #student-link1,
#left-side #student-link2,
#left-side #student-link3 {
    background-color: #D9516B;
    margin: 10px;
    color: white;
    border-radius: 25px;
    width: 14rem;
    margin: 5px auto;
    border: transparent 1px dotted;
}

#profile-buttons {
    display: flex;
    width: 40%;
    margin-top: 20px;
}

#edit-info {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    color: #d9516b;
    background-color: transparent;
    cursor: pointer;
}

#match-btn {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    background-color: transparent;
    width: fit-content;
    align-self: center;
}

#match-btn>a {
    text-decoration: none;
    color:#d9516b;
}

#student-mail:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}
 
#student-password:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}

#left-side #student-link1:enabled, #left-side #student-link2:enabled, #left-side #student-link3:enabled{
    border: #d9516b 2px dotted;
    background-color: transparent;
    color: black;
}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
}

#label-about {
    margin-top: 100px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 22px;
}

#student-about {
    background-color: transparent;
    border: none;
    color: white;
    resize: none;
    font-family: 'Inter';
    font-size: medium;
    letter-spacing: 1.5px;
    margin-left: 50px;
    margin-right: 60px;
    font-size: 14px;
    line-height: 22px;

}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
    margin-left: 50px;
}