/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

#student-profile {
    display: flex;
}

#right-side {
    background: linear-gradient(#CC919C, #BD4C61);
    width: 40vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#left-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#left-side h1 {
    margin-top: 120px;
    color: #D9516B;

}

#left-side label, #left-side input, #left-side button {
    width: 50%;
}

#left-side label {
    color: #d9516b;
    border-bottom: black 1px solid;
    width: auto;
    margin-top: 10px;
}

#left-side input {
    display: block;
    color: black;
    padding: 5px;
    font-size: medium;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px;
    border: transparent 1px dotted;
}

#left-side #student-link1,
#left-side #student-link2,
#left-side #student-link3 {
    background-color: #D9516B;
    margin: 10px;
    color: white;
    border-radius: 25px;
    width: 14rem;
    margin: 5px auto;
    border: transparent 1px dotted;
}

#profile-buttons {
    display: flex;
    width: 40%;
    margin-top: 20px;
}

#edit-info {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    color: #d9516b;
    background-color: transparent;
    cursor: pointer;
}

#match-btn {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    background-color: transparent;
    width: fit-content;
    align-self: center;
}

#match-btn>a {
    text-decoration: none;
    color:#d9516b;
}

#student-mail:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}
 
#student-password:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}

#left-side #student-link1:enabled, #left-side #student-link2:enabled, #left-side #student-link3:enabled{
    border: #d9516b 2px dotted;
    background-color: transparent;
    color: black;
}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
}

#label-about {
    margin-top: 100px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 22px;
}

#student-about {
    background-color: transparent;
    border: none;
    color: white;
    resize: none;
    font-family: 'Inter';
    font-size: medium;
    letter-spacing: 1.5px;
    margin-left: 50px;
    margin-right: 60px;
    font-size: 14px;
    line-height: 22px;

}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
    margin-left: 50px;
}

/* Navbar*/
/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid 1px;
}

.navbar_icon img {
    width: 100px;
    padding-left: 40px;
}

ul {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

li {
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #d9516b;
    text-decoration: none;
} */


/* User-profile */
/* body {
    font-family: 'Inter';
}

#student-greeting {
    color: #d9516b;
    padding: 10px;
}

#student-info {
    margin: 20px;
    height: fit-content;
}

#label-mail,
#label-password,
#label-links {
    color: #d9516b;
    border-bottom: black 1px solid;
}

#student-mail,
#student-password,
#student-link1,
#student-link2,
#student-link3 {
    display: block;
    color: black;
    font-family: 'Inter';
    padding: 5px;
    font-size: medium;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 10px;
    border: transparent 1px dotted;
}

#student-mail,
#student-password{
   margin: 1rem auto;
}

#student-link1,
#student-link2,
#student-link3 {
    background-color: #d9516b;
    opacity: 80%;
    margin: 10px;
    color: white;
    border-radius: 25px;
    width: 14rem;
    margin: 10px auto;
}

#student-about {
    background-color: transparent;
    border: none;
    color: white;
    resize: none;
    font-family: 'Inter';
    font-size: medium;
    letter-spacing: 1.5px;
}

#label-about {
    text-align: left;
    font-size: xx-large;
    color: white;
    margin-bottom: 1rem;
}

#edit-info {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    color: #d9516b;
    background-color: transparent;
    font-family: 'Inter';
    cursor: pointer;
    margin-top: 10px;
}

#match-btn {
    padding: 10px;
    border-radius: 20px;
    border: black 1px solid;
    background-color: transparent;
    font-family: 'Inter';
    width: fit-content;
    align-self: center;
}

#match-btn>a {
    text-decoration: none;
    color:#d9516b;
}

#student-mail:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}
 
#student-password:enabled{
    border: #d9516b 1px dotted;
    border-radius: 20px;
}

#student-link1:enabled, #student-link2:enabled, #student-link3:enabled{
    border: #d9516b 2px dotted;
    background-color: transparent;
    color: black;
}

#student-about:enabled{
    margin: -1px;
    border: black 1px dotted;
    background-color: white;
    color: black;
}

#student-profile{
    display: flex;
}

#left-side{
    height: 100vh;
    width: 55vw;
    text-align: center;
    padding-top: 5rem;
}

#right-side{
    height: 100vh;
    width: 45vw;
    background-color: #d9516b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
} */